# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.MineBlockGame.iml
# Datasource local storage ignored files
/../../../../../../../:\Users\vital\MineBlockGame\.idea\.idea.MineBlockGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
